:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --main-font-color: #212121;
  --secondary-font-color: #ffffff;
  --descriprion-font-color: #757575;
  --hover-hero-btn-color: #188ce8;
  --background-color-team: #f5f4fa;
  --second-background-color: #2f303a;
  --footter-cont-list: rgba(255, 255, 255, 0.6);
  --social-links-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --main-duration: 250ms;
}

body {
  color: var(--main-font-color);
  font-family: var(--main-font);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}

.hidden {
  display: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  border: 0px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}

.logo__text {
  color: var(--accent-color);
}

.modal-btn {
  font-family: var(--main-font);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  color: var(--secondary-font-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color var(--main-duration) var(--timing-function);
}

.modal-btn:hover, .modal-btn:focus {
  background-color: var(--hover-hero-btn-color);
}

.social {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--social-links-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--main-duration) var(--timing-function);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  fill: var(--secondary-font-color);
}

.social__icons {
  transition: fill var(--main-duration) var(--timing-function);
}

.social__link:hover .social__icons,
.social__link:hover .social__icons {
  fill: var(--secondary-font-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--main-duration) var(--timing-function), visibility var(--main-duration) var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: scale(1.1) translate(-50%, -50%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px 40px;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--secondary-font-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: var(--main-duration) var(--timing-function);
}

.backdrop__button--close {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--secondary-font-color);
  transition: fill var(--main-duration) var(--timing-function);
}

.backdrop__button--close:hover, .backdrop__button--close:focus {
  fill: var(--accent-color);
}

.modal__description {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}

.form {
  display: flex;
  flex-direction: column;
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__box {
  position: relative;
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border var(--main-duration) var(--timing-function);
  cursor: pointer;
}

.form__input:hover, .form__input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  transition: var(--main-duration);
}

.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__field.comment {
  margin-bottom: 20px;
}

.form__comment {
  width: 100%;
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border var(--main-duration) var(--timing-function);
}

.form__comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:hover, .form__comment:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.form__checkbox:checked + .form__checkbox--label::before {
  background-color: var(--accent-color);
  background-image: url(../img/check.svg);
  background-size: 13px 10px;
  border: none;
  background-origin: border-box;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

.form__checkbox--label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--descriprion-font-color);
  margin-bottom: 30px;
}

.form__checkbox--label::before {
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-font-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
}

.form__checkbox:focus + .form__checkbox--label::before {
  border-color: var(--accent-color);
}

.form__checkbox--link {
  color: var(--accent-color);
}

.backdrop__btn {
  align-self: center;
  width: 200px;
  height: 50px;
  border: none;
}

.header {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-contacts {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.header__logo {
  margin-right: 93px;
}

.menu {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.menu .menu__link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -40px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  cursor: pointer;
  transform: scaleX(0);
  opacity: 0;
  transition: transform var(--main-duration) var(--timing-function), opacity var(--main-duration) var(--timing-function);
}

.menu .menu__link:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

.menu .menu__link:focus::after {
  transform: scaleX(1);
  opacity: 1;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts__items:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-font-color);
  transition: color var(--main-duration) var(--timing-function);
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.menu__link.current::after {
  transform: scaleX(1);
  opacity: 1;
}

.header-contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--descriprion-font-color);
  transition: color var(--main-duration) var(--timing-function);
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.header-contacts__icon {
  fill: var(--descriprion-font-color);
  margin-right: 10px;
  transition: fill var(--main-duration) var(--timing-function);
}

.header-contacts__link:hover .header-contacts__icon,
.header-contacts__link:focus .header-contacts__icon {
  fill: var(--accent-color);
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-img-bgd.jpg);
  background-color: var(--second-background-color);
  background-size: auto auto;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin-bottom: 30px;
  color: var(--secondary-font-color);
}

.features {
  padding-bottom: 47px;
}

.features__list {
  display: flex;
  padding-left: 0;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__description {
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--descriprion-font-color);
}

.features__items:not(:last-child) {
  margin-right: 30px;
}

.features__icons {
  margin-bottom: 30px;
  padding: 25px 100px;
  background-color: var(--background-color-team);
  border-radius: 4px;
}

.features__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.activity {
  padding-top: 47px;
}

.activity__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.activity__list {
  padding-left: 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.activity__imgs {
  display: block;
  width: 100%;
}

.activity__wrapper {
  position: relative;
}

.activity__description {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-font-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--background-color-team);
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--descriprion-font-color);
}

.team__list {
  display: flex;
  padding-left: 0;
  margin-left: -30px;
  margin-top: -30px;
}

.team__box {
  padding: 30px 32px;
}

.team__items {
  margin-left: 30px;
  margin-top: 30px;
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.customers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-font-color);
  margin-bottom: 50px;
}

.customers__list {
  display: flex;
  justify-content: space-between;
}

.customers__item {
  width: 170px;
  height: 92px;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--social-links-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition: border-color var(--main-duration) var(--timing-function);
}

.customers__link:hover, .customers__link:focus {
  border-color: var(--accent-color);
}

.customers__icons {
  width: 106px;
  height: 60px;
  transition: fill var(--main-duration) var(--timing-function);
}

.customers__link:hover .customers__icons,
.customers__link:focus .customers__icons {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--second-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--secondary-font-color);
}

.footer__wrap {
  display: flex;
  align-items: baseline;
}

.footer__address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
  transition: color var(--main-duration) var(--timing-function);
}

.footer__address:hover, .footer__address:focus {
  color: var(--accent-color);
}

.footer__links {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footter-cont-list);
  transition: color var(--main-duration) var(--timing-function);
}

.footer__links:hover, .footer__links:focus {
  color: var(--accent-color);
}

.footer__list {
  padding-left: 0;
}

.footer__items:not(:last-child) {
  margin-bottom: 9px;
}

.footer__box--left {
  margin-right: 70px;
}

.footer__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-font-color);
  margin-bottom: 20px;
}

.footer--icon {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--secondary-font-color);
}

.footer__box--right {
  width: 206px;
  height: 80px;
}

.subscibe {
  margin-left: auto;
}

.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-font-color);
  margin-bottom: 20px;
}

.subscribe__box {
  position: relative;
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  cursor: text;
}

.subscribe__form {
  display: flex;
}

.subscribe__input {
  height: 50px;
  width: 360px;
  padding-left: 16px;
  background-color: var(--second-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--secondary-font-color);
}

.subscribe__input:focus + .placeholder,
.subscribe__input:not(:placeholder-shown) + .placeholder {
  opacity: 0;
}

.subscribe__icon {
  margin-left: 10px;
  fill: var(--secondary-font-color);
}

.footer--btn {
  display: flex;
  margin-left: 12px;
  padding: 10px 29px;
  border: 0;
}

.portfolio {
  text-align: center;
}

.portfolio__button {
  padding: 6px 22px;
  font-family: var(--main-font);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
  background-color: var(--background-color-team);
  border-radius: 4px;
  border-color: transparent;
  transition: color var(--main-duration) var(--timing-function), background-color var(--main-duration) var(--timing-function), box-shadow var(--main-duration) var(--timing-function);
}

.portfolio__button:hover, .portfolio__button:focus {
  color: var(--secondary-font-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio__list {
  display: flex;
  padding-left: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.projects {
  display: block;
}

.projects__list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
  padding-left: 0;
  flex-wrap: wrap;
}

.projects__item {
  margin-left: 30px;
  margin-top: 30px;
  width: 370px;
  background: #ffffff;
}

.projects__subtitle {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-font-color);
}

.projects__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--descriprion-font-color);
}

.projects__box {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.projects__img {
  display: block;
}

.projects__link {
  display: block;
  transition: box-shadow var(--main-duration) var(--timing-function);
}

.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__wrap {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: var(--main-duration) var(--timing-function);
  overflow: hidden;
}

.projects__link:hover .overlay,
.projects__link:focus .overlay {
  transform: translateY(0);
}

.overlay__description {
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
  transition: var(--main-duration) var(--timing-function);
  overflow-y: scroll;
}
/*# sourceMappingURL=main.css.map */