.logo {
  font-family: var(--secondary-font);
  @include font(24px, 700, 1.16, 0.03em);
  color: var(--main-font-color);
}
.logo__text {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    @include font(26px, 700, 1.19, 0.03em);
  }
}
