:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --main-font-color: #212121;
  --secondary-font-color: #ffffff;
  --descriprion-font-color: #757575;
  --hover-hero-btn-color: #188ce8;
  --background-color-team: #f5f4fa;
  --second-background-color: #2f303a;
  --footter-cont-list: rgba(255, 255, 255, 0.6);
  --social-links-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --main-duration: 250ms;
}
